.app {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
  gap:1rem;
  justify-items: center;
}

/* img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
} */

/* img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}  */

body {
  /* margin: 20% auto; */
}

.container{
  display: flex;
  gap: 10px;
  font-size: small;
  margin: 10px 0;
}

.btn {
  height: 30px;
  width: 50px;
}

.d-btn {
  height: 30px;
  width: 50px;
  margin-left: -270px;
}

.togglebtn {
  margin-left: -192px;
  margin-bottom: 10px;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 320px;
  margin: 2rem auto;
}


/* .summary {
  display: none;
} */