/* .first {
    display:flex;
    flex-direction: row;
} */

img {
    height: 30rem;
    width: 20rem;
    object-fit: cover;
}

.first {
    width: 20rem;
    margin-bottom: 3rem;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0;
    text-align: left;
}

.summary {
    margin: 0;
    padding: 0;
    text-align: left;
}